<style>
@keyframes yoo {
  from {background-color: red;color: yellow;}
  to {background-color: yellow;color: red;}
}
</style>


<div style="border: 20px dotted yellow;animation-name: yoo; animation-duration: 4s;animation-iteration-count: infinite;">
  hewwo web devewopews!!11 This is ouw nyice website.
</div>
