<style>
@keyframes yoo {
  from {background-color: red;color: yellow;height: 200px;}
  to {background-color: yellow;color: red;height: 600px;}
}
</style>


<div style="border: 20px dotted yellow;animation-name: yoo; animation-duration: 4s;animation-iteration-count: infinite;animation-direction: alternate-reverse;">
  hewwo web devewopews!!11 This is ouw nyice website.
</div>
hewwo web devewopews!!11 This is ouw nyice website.
